@model List<City>
<style>
    th,td{
        margin:10px;
    }
</style>
@if (Model.Count == 0)
{
<div>
    <p>There is no cities in your list</p>
    @Html.ActionLink("Create City", "Create")

</div>
}
else
{
    <div>
        <div>
            @Html.ActionLink("Create City", "Create","Cities",null,new { @class = "btn-default" })
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Regions
                    </th>
                    <th>
                        Operations
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var city in Model)
                {
                    <tr>
                        <td>
                            @city.Name
                        </td>
                        <td>
                            @{ 
                                string x = string.Empty;
                                if (city.Regions == null)
                                {
                                    x = "No regions defined in this city";
                                }
                                else
                                {
                                    foreach (var region in city.Regions)
                                    {
                                        x += region.Name + ",";
                                    }
                                }
                            }
                            @x
                        </td>
                        <td>
                            @Html.ActionLink("Edit","Edit","Cities",new { Id = city.Id })
                            @Html.ActionLink("Delete","Delete","Cities",new { Id = city.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
